<h2>All projects</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Project Name</th>
    <th colspan="3"></th>
  </tr>
 
  <% @projects.each do |proj| %>
    <tr>
      <td><%= proj.name %></td>
      <td><%= proj.task %></td>
      <td><%= link_to 'Edit', edit_project_path(proj)%></td>
	  <td><%= link_to 'Delete',project_path(proj),method: :delete, data: { confirm: 'Are you sure?' }%></td>
	 
    </tr>

 <%end %>

</table>

<%= link_to 'Add Project', new_project_path%>

