<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD ELECTIVE SUBJECT DETAILS</h4>
            </div>
            <div class="modal-body">
<%= form_for @e,url: {action: 'elective_save',format:@a.id},method: :post do |f| %>
<table border=1>
	<tr>
		<td> <%= f.label :'Elective group :' %> </td>
		<td> <%= f.text_field :es_group %> </td>
	</tr>

	<tr>
		<td> <%= f.label :'Elective subject :' %> </td>
		<td> <%= f.text_field :es_subject  %> </td>
	</tr>
</table> <br>
<%= f.submit :"INSERT" %>
<%end%>
</div>

</div>
</div>
