<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">UPDATE NORMAL SUBJECT DETAILS</h4>
            </div>
            <div class="modal-body">
<%= form_for @n, url:{action: 'normal_update',id:@n.id} do |f| %>
<table border=1>
	<tr>
		<td> <%= f.label :'subject code :' %> </td>
		<td> <%= f.text_field :ns_code %> </td>
	</tr>

	<tr>
		<td> <%= f.label :'subject name :' %> </td>
		<td> <%= f.text_field :ns_subject  %> </td>
	</tr>
</table> <br>
<%= f.submit :"UPDATE" %>
<%end%>
</div>
</div>
</div>
