<h1>Add Account Details</h1>
<%=form_for @account , url: {action: 'saveaccount',disk_id: @disk.id}, method: :post do |f|%>
	<table>
	<tr>
		<td>
			<%=f.label :bankname%>
		</td>
		<td>
			<%=f.text_field :bankname%>
		</td>
	</tr>
	<tr>
		<td>
			<%=f.label :accountno%>
		</td>
		<td>
			<%=f.text_field :accountno%>
		</td>
	</tr>
	<tr>
		<td>
			<%=f.label :accounttype%>
		</td>
		<td>
			<%=f.text_field :accounttype%>
		</td>
	</tr>
	</table>
<%=f.submit 'Save Account Details'%>
<%end%>
