<h1>Edit New Person</h1><br>
<%=form_for @disk, url: {action: 'update',id: @disk.id},method: :patch do |f|%>
<table>
	<tr>
		<td>
			<%=f.label :firstName%>
		</td>
		<td>
			<%=f.text_field :firstName%>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :lastName%>
		</td>
		<td>
			<%=f.text_field :lastName%>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :address%>
		</td>
		<td>	
			<%=f.text_field :address%>
		</td>
		</tr>
		<tr>
		<td>		
			<%=f.label :age%>
		</td>
		<td>	
			<%=f.text_field :age%>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :email%>
		</td>
		<td>
			<%=f.text_field :email%>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :phone%>
		</td>
		<td>
			<%=f.text_field :phone%>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :bloodgroup%>
		</td>
		<td>
			<%=f.text_field :bloodgroup%>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :country%>
		</td>
		<td>
			<%=f.text_field :country%><br>
		</td>
		</tr>
		<tr>
		<td>
			<%=f.label :nationality%>
		</td>
		<td>
			<%=f.text_field :nationality%>
		</td>
		</tr>
		</table>
<%=f.submit "Create"%>
<%end%>