<h1>Persons List</h1>
<table><tr>
<td>Name</td> <td> Address</td><td>Age</td><td> Email</td><td>Phone</td><td>Blood Group</td><td> Country </td><td> Nationality</td><td>Edit</td><td>Bank Account</td></tr>
<%@person.each do |f|%>
<tr>
<td>
<%=f.firstName%> &nbsp<%=f.lastName%></td>
<td><%=f.address%></td>
<td><%=f.age%> </td>
<td><%=f.email%> </td>
<td><%=f.phone%> </td>
<td><%=f.bloodgroup%> </td>
<td><%=f.country%> </td>
<td><%=f.nationality%> </td>
<td><%=link_to 'Edit', edit_disks_path(f) %></td>
<td><%=link_to 'Bank Account', addaccount_path(f.id) %></td>

</tr>
<%end%>	
</table>