<h4>UPDATE DETAILS</h4>
<%= form_for @s, url:{action: 'student_update',id:@s.id} do |f| %>
<table border=1>
	<tr>
		<td> <%= f.label :'student name :' %> </td>
		<td> <%= f.text_field :s_name %> </td>
	</tr>

	<tr>
		<td> <%= f.label :'marks :' %> </td>
		<td> <%= f.text_field :marks %> </td>
	</tr>
</table> <br>
<%= f.submit :"UPDATE" %>
<%end%>