<%=form_for ([@detail,@detail.banks.build]) do |f| %>

<table>
	<tr>
      <td><%= f.label :'Bank Name' %></td>
  	  <td><%= f.text_field :bankName %></td>
  	</tr>
  	<tr>
	  	<td><%= f.label :'Account Number'%></td>
	  	<td><%= f.text_field :accountNo %></td>
	 </tr>
  	
  	<tr>
  	 <td><%= f.label :'Salary' %></td>
     <td><%= f.text_field :salary %></td>
  	</tr>
    <tr>
      <td><%= f.submit :'Save'%></td>
      <td></td>
    </tr>
  </table>


<% end %>