<h1> Edit details</h1>
 
<%=form_for @detail do |p| %>

	<table>
	<tr>
     <td> <%= p.label :Firstname%> </td>
     <td> <%= p.text_field :firstname%> </td>
    </tr>
    <tr>
    	<td><%= p.label :Lastname%></td>
    	<td><%= p.text_field :lastname%></td>
    </tr>
    <tr>
    	<td><%= p.label :Age%></td>
    	<td><%= p.text_field :age%></td>
    </tr>
    <tr>
    	<td><%= p.label :Address%></td>
    	<td><%= p.text_field :address%></td>
    </tr>
    <tr>
    	<td><%= p.label :'Blood Group'%>
    	<td><%= p.text_field :bloodGroup%> </td>
    <tr>
    	<td><%= p.label :'Phone Number'%></td>
    	<td><%= p.text_field :phoneNo%></td>
    </tr>
    <tr>
    	<td><%= p.label :Email%></td>
    	<td><%= p.text_field :email%></td>
    </tr>
    <tr>
    	<td><%= p.label :Nationality%></td>
    	<td><%= p.text_field :nationality%></td>
    </tr>
    <tr>
    	<td><%= p.label :Country%></td>
    	<td><%= p.text_field :country%></td>
    </tr>
    <tr>
    	<td align="center"><%=p.submit :'Save'%></td>
    	<td></td>
    </tr>
   <%end%>
    
