<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Blood Group</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Nationality</th>
        <th>Country</th>
    </tr>
    <% @detail.each do |p| %>
     <tr>
        <td><%= p.firstname%><%= p.lastname%></td>
        <td><%= p.age %></td>
        <td><%= p.address %></td>
        <td><%= p.bloodGroup%></td>
        <td><%= p.phoneNo %></td>
        <td><%= p.email %></td>
        <td><%= p.nationality %></td>
        <td><%= p.country %></td>
        <td><%= link_to 'Edit',edit_detail_path(p.id)%></td>
        <td><%= link_to 'Delete',p,method: :delete,data: { confirm:'Are You Sure' } %></td>
        <td><%= link_to 'Bank Details',detail_banks_path(p.id)%></td>
     </tr>
    <%end%>
        </table>