<h1>Person Details:</h1>

<p>
<strong>Name:</strong>
<%=@detail.firstname %>
<%=@detail.lastname %>
</p>

<p>
<strong>Age:</strong>
<%=@detail.age %>
</p>

<p>
<strong>Address:</strong>
<%=@detail.address %>
</p>

<p>
<strong>Blood Group:</strong>
<%=@detail.bloodGroup %>
</p>

<p>
<strong>Phone Number:</strong>
<%= @detail.phoneNo %>
</p>

<p>
<strong>Email:</strong>
<%= @detail.email %>
</p>

<p>
<strong>Nationality:</strong>
<%= @detail.nationality %>
</p>

<p>
<strong>Country:</strong>
<%= @detail.country%>
</p>
</div>

<%= link_to 'Edit',edit_detail_path(@detail) %>
<%= link_to 'Show all peoples',details_path %>
<div align="left">
<%= render 'form'%>
</div>