<table border="2">

<tr>
  
  <th>Bank Name</th>
  <th>Address</th>
  <th>Account Nudmber</th>
  <th>Rs.</th>
  <th></th>
  <th></th>
 
</tr>
<%@banks.each do |b| %>

<tr>
  <td><%= b.bname%></td>
  <td><%= b.baddress%></td>
  <td><%= b.account_no %></td>
  <td><%= b.rs %></td>
  <td><%=link_to "edit",edit_laptop_bank_path(@banks, b)%></td>
  
  <td><%= link_to "delete",laptop_bank_path(@banks, b),laptop_id: @laptop.id, method: :delete, data: { confirm: 'Are you sure?' }  %></td>

</tr>
<% end %>
</table>