<h1> Show List Of Bank </h1>
<table border="2">

<tr>
	
	<th>Bank Name</th>
	<th>Address</th>
	<th>Account Number</th>
	<th>Rs.</th>

</tr>
<%= @banks.each do |b| %>
<tr>
	<td><%= b.bname%></td>
	<td><%= b.baddress%></td>
	<td><%= b.account_no %></td>
	<td><%= b.rs %></td>

</tr>
<% end %>
</table>
