
<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<h1>Comment</h1>
<table border="1">
  <tr>
    <th>Commenter</th>
    <th>Body</th>
   
  </tr>
 
  <% @article.comments.each do |comment| %>
    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>

    </tr>

 <% end %>

</table>
 <%= link_to 'Back', new_article_path %>
