<h1>Home Page</h1>

<%=link_to 'Add Employee', new_personalinfo_path%>

<table border="1">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Address</th>
		<th>Age</th>
		<th>Phone No.</th>
		<th>Email</th>
		<th>Blood Group</th>
		<th>Country</th>
	</tr>

<%@emps.each do |f|%>
	<tr>
		<td><%=f.first_name%></td>
		<td><%=f.last_name%></td>
		<td><%=f.address%></td>
		<td><%=f.age%></td>
		<td><%=f.ph_no%></td>
		<td><%=f.email%></td>
		<td><%=f.blood_group%></td>
		<td><%=f.country%></td>
		<td><%=link_to 'Edit', edit_personalinfo_path(f)%></td>
		<td><%=link_to 'Delete',personalinfo_path(f), method: :delete, data: {confirm: 'Are you sure?'}%></td>
		<td><%=link_to 'Save Bank Informaion', personalinfo_bankinfos_path(f)%></td>
	</tr>
<%end%>
</table>