<p>
First Name : <%= @emp.first_name%>
</p>

<p>
Last Name : <%= @emp.last_name%>
</p>

<p>
Address : <%= @emp.address%>
</p>

<p>
Age : <%= @emp.age%>
</p>

<p>
Phone No. : <%= @emp.ph_no%>
</p>

<p>
Email : <%= @emp.email%>
</p>

<p>
Blood Group : <%= @emp.blood_group%>
</p>

<p>
Country : <%= @emp.country%>
</p>

<%=link_to 'Go to Index Page', personalinfos_path%>